body {
    background-color: #000000;
    height: 100vh;
    }
.containerLogotipo {
    display: flex;
    justify-content: center;
    position: relative;
}
.Logotipo2 {
    position: absolute;
    width: 30%;
    top: 250px;
    /* margin: 0 auto; */
}
