.navbar-item {
  font-size: 20px;
  margin: 7px;
}
.titleMovie {
    color: #ffffff;
    padding-left: 30px;
}
.containerInfo {
    
}
.info {
    color: #ffffff;
    background-color: #000000;
    padding-left: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.boxImage {
  width: 170px;
}
.Subtitle {
  color: #ffffff;
  background-color: #000000;
}

.block {
  background-color: #000000;
  padding: 14px 28px;
  font-size: 20px;
}
.footer {
    background-color: #000000;
}
.prrrimeMichiVideo {
    background-color: #000000;
    color: #ffffff;
    padding-top: 77px;
    align-items: center;
    width: 20%;
}