.body {
    background-color: #000000;
    height: 100vh;
    }

.navbar-item {
    font-size: 20px;
    margin: 7px;
    }

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.column{
    width: auto;
    height: auto;
    background-color: #000000;
}
.boxImage{
    width: 200px;
}
.Subtitle{
    color: #ffffff;
    background-color: #000000;
}

.box {
    background-color: #000000;
    color: #ffffff;
}

/* .section {
    background-color: #000000;
    color: #ffffff;
} */
.block {
    background-color: #000000;
    padding: 14px 28px;
    font-size: 20px;
}
.primeMichiVideo {
    background-color: #000000;
    color: #ffffff;
    padding: 14px 28px;
    align-items: center;
}