.navbar-item {
    font-size: 20px;
    margin: 7px;
    }
    
.Subtitle{
    color: #ffffff;
    background-color: #000000;
}

.box {
    background-color: #000000;
    color: #ffffff;
}

.section {
    background-color: #000000;
    color: #ffffff;
}
.block {
    background-color: #000000;
    padding: 14px 28px;
    font-size: 20px;
}