.navbar-item {
    font-size: 20px;
    margin: 7px;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.columns{
    width: auto;
    height: auto;
}
.box {
    background-color: #000000;
    color: #ffffff;
}
#subtitleTitle{
    color: #ffffff;
}
.subtitle{
    color: #ffffff;
}
.boxImage{
    width: 170px;
}
.Subtitle{
    color: #ffffff;
    background-color: #000000;
}

/* .section {
    background-color: #000000;
    color: #ffffff;
} */
.block {
    background-color: #000000;
    padding: 14px 28px;
    font-size: 20px;
}
.footer {
    background-color: #000000;
}
.prrrimeMichiVideo {
    background-color: #000000;
    color: #ffffff;
    padding-top: 77px;
    align-items: center;
    width: 20%;
} 